images_yaru.zip
images_yaru_svg.zip
images_yaru_mate.zip
images_yaru_mate_svg.zip
yaru-theme.oxt
oxt/iconsets/images_yaru.zip
oxt/iconsets/images_yaru_svg.zip
oxt/iconsets/images_yaru_mate.zip
oxt/iconsets/images_yaru_mate_svg.zip
